@font-face {
  font-family: "NeueMontreal";
  src: url(fonts/NeueMontreal-Light.otf);
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "NeueMontreal";
  src: url(fonts/NeueMontreal-Regular.otf);
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "NeueMontreal";
  src: url(fonts/NeueMontreal-Medium.otf);
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "NeueMontreal";
  src: url(fonts/NeueMontreal-Bold.otf);
  font-style: normal;
  font-weight: 700;
}