.about {
  &__elephant--container {
    width: 90rem;
    margin: 5rem auto;
    display: flex;
    flex-direction: column;
    position: relative;

    .about-heading {
      width: 80rem;
      margin: 0 auto;
      font-size: 7rem;
      font-weight: 500;
      z-index: 10;
      text-align: right;
    }
  }

  &__horse--container {
    width: 70%;
    margin: 5rem auto;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    &-image-container {
      height: 18rem;

      .profile-image {
        height: 15rem;
        width: 15rem;
        border-radius: 55%;
        background-color: $primary-color;
        position: relative;
        z-index: 10;

        &-shadow {
          height: 15rem;
          width: 15rem;
          border-radius: 55%;
          background-color: rgba($color: #000000, $alpha: 0.2);
          margin: -13rem -1rem;
        }
      }
    }

    &-info {
      p {
        font-size: 1rem;
        font-family: "space mono";
        max-width: 35rem;
        margin: 1rem 1rem;
        position: relative;
        z-index: 10;
      }

      .techstack__list {
        margin-left: 5em;

        p {
          font-size: 0.8rem;
          font-family: "space mono";
          max-width: 35rem;
          margin: 0.5rem 1rem;
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .about {
    &__elephant--container {
      flex-direction: column;
      align-items: center;
      width: 80vw;

      .about-heading {
        font-size: 5rem;
        text-align: center;
        width: 20rem;
      }
    }

    &__horse--container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      margin: 3rem 0;

      &-image-container {
        height: 12rem;
        margin-bottom: 2rem;

        .profile-image {
          height: 10rem;
          width: 10rem;
          border-radius: 55%;
          background-color: $primary-color;
          position: relative;
          z-index: 10;

          &-shadow {
            height: 10rem;
            width: 10rem;
            margin: -9rem 1rem;
          }
        }
      }

      &-info {
        p {
          min-width: 15rem;
        }
        .techstack__list {
          margin-left: 3rem;
        }
      }
    }
  }
}
