.herosection {
  &__elephant--container {
    width: 75%;
    margin: 10em auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    min-width: 35rem;
  }

  &__greet--container {
    h2 {
      font-family: "space mono";
      font-size: 2em;
      font-weight: 400;
      span {
        color: $primary-color;
      }
    }
  }

  &__info--container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin: 0 2em;

    &-name {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      .h1_name {
        font-size: 7rem;
        font-weight: 500;
        width: 40rem;
      }

      .h1_title {
        font-size: 7rem;
        font-weight: 500;
        width: 40rem;
        text-align: right;
      }
    }
    &-info {
      display: flex;
      height: 15em;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      p {
        font-family: "space mono";
        font-size: 1.1rem;
        letter-spacing: 2px;
        text-align: center;
        width: 20em;
      }

      a {
        font-size: 1rem;
        font-family: "space mono";
        text-align: center;
        color: $primary-color;
        text-decoration: none;
        margin: 0 6rem;
        padding: 0.3rem 0;
        min-width: 10rem;
        border: 2px solid $primary-color;
      }
    }
  }
}

@media screen and (max-width: 1500px) {
  .herosection {
    &__elephant--container {
      width: 50%;
    }

    &__info--container {
      flex-direction: column;

      &-name {
        .h1_name {
          font-size: 5rem;
          text-align: left;
          width: 30rem;
        }

        .h1_title {
          font-size: 5rem;
          text-align: right;
          width: 30rem;
        }
      }

      &-info {
        p {
          margin: 3em 0;
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .herosection {
    &__elephant--container {
      min-width: 25rem;
    }

    &__info--container-name {
      .h1_name {
        width: 5em;
        text-align: left;
      }

      .h1_title {
        width: 5em;
        text-align: right;
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .herosection {
    &__elephant--container {
      min-width: 20rem;
    }

    &__info--container-name {
      .h1_name {
        width: 4em;
        text-align: left;
      }

      .h1_title {
        width: 4em;
        text-align: right;
      }
    }
  }
}
