.herosection {
  &__elephant--container {
    width: 75%;
    margin: 10em auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
  }

  &__greet--container {
    h2 {
      font-family: "space mono";
      font-size: 2em;
      font-weight: 400;
      span {
        color: $primary-color;
      }
    }
  }

  &__info--container {
    display: flex;
    flex-direction: column;
    margin: 0 2em;

    &-upper {
      display: flex;
      justify-content: space-between;
      align-items: center;

      h1 {
        font-size: 7rem;
        font-weight: 500;
        width: 40rem;
      }
      p {
        font-family: "space mono";
        font-size: 1.1rem;
        letter-spacing: 2px;
        text-align: center;
        width: 20em;
      }
    }
    &-lower {
      display: flex;
      justify-content: space-between;
      align-items: center;

      h1 {
        font-size: 7rem;
        font-weight: 500;
        width: 40rem;
        text-align: right;
      }
      a {
        font-size: 1rem;
        font-family: "space mono";
        text-align: center;
        color: $primary-color;
        text-decoration: none;
        margin: 0 6rem;
        padding: 0.3rem 0;
        min-width: 10rem;
        border: 2px solid $primary-color;
      }
    }
  }
}
