.logo img {
  height: 2.5em;
}

.nav {
  &__elephant--container {
    background-color: #fff;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
  }

  &__horse--container {
    height: 6em;
    width: 75vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.navlink {
  padding: 0 1.5rem;
  font-family: "space mono";
  font-size: 1.1rem;
  text-decoration: none;
  text-transform: capitalize;
  color: #f7186a;

  &__container {
    display: flex;
    list-style: none;
  }
}
