.logo img {
  height: 2.5em;
}

.menu-icon {
  font-size: 2em;
  display: none;
  color: $primary-color;
}

.nav {
  &__elephant--container {
    background-color: #fff;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
  }

  &__horse--container {
    height: 8em;
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.navlink {
  padding: 0 1.5rem;
  font-family: "space mono";
  font-size: 1.1rem;
  text-decoration: none;
  text-transform: capitalize;
  color: $primary-color;

  &__container {
    display: flex;
    list-style: none;
  }
}

@media screen and (max-width: 800px) {
  // .nav__horse--container {
  //   height: 8em;
  // }

  .menu-icon {
    font-size: 2em;
    display: block;
  }

  .navlink__container {
    display: none;
  }
}
