.Project {
  &__elephant-container {
    width: 80rem;
    margin: 5rem auto;
    display: flex;
    flex-direction: column;
    position: relative;

    .project-heading {
      font-size: 7rem;
      font-weight: 500;
    }
  }

  &__horse-container {
    margin: 5rem 0;

    .project-container {
      margin: 5rem 0;
      display: flex;
      justify-content: space-between;

      img {
        height: 25rem;
        border-radius: 10px;
      }

      .project-info {
        display: flex;
        flex-direction: column;
        align-items: stretch;

        h1 {
          font-size: 5rem;
          font-weight: 500;
          margin: 1rem 2rem;
        }

        p {
          font-size: 1rem;
          font-family: "space mono";
          max-width: 35rem;
          margin: 1rem 2rem;
          position: relative;
          z-index: 10;
        }
      }

      .btn-container {
        margin: 1rem 0;

        .btn-innerContainer {
          width: 95%;
          margin: 0 auto;
          display: flex;
          // justify-content: center;

          .icon {
            font-size: 2rem;
            margin: 0 1rem;

            :hover {
              color: $primary-color;
              transition: all 0.3s ease;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1500px) {
  .Project {
    &__elephant-container {
      flex-direction: column;
      align-items: center;
      width: 20rem;

      .project-heading {
        font-size: 5rem;
        font-weight: 500;
      }
    }

    &__horse-container {
      margin: 1rem 0;
      flex-direction: column;
      width: 80vw;

      .project-container {
        flex-direction: column;
        img {
          height: 10rem;
          border-radius: 5px;
          margin: 2px 0;
        }

        .project-info {
          h1 {
            font-size: 3rem;
            text-align: center;
          }

          .btn-container {
            justify-content: center;

            .btn-innerContainer {
              align-items: center;
              justify-content: center;
            }
          }
        }
      }
    }
  }
}
