// importing variables

@import "../src/scss/variables.scss";

// importing components

@import "../src/components/navbar/navbar.scss";
@import "../src/components/heroSection/HeroSection.scss";
@import "../src/components/about/about.scss";
@import "../src/components/projects/projects.scss";
@import "../src/components/footer/footer.scss";

//styled-items

@import "../src/components/styled-items/styled-items.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: NeueMontreal;
}

@font-face {
  font-family: "NeueMontreal";
  src: url(fonts/NeueMontreal-Light.otf);
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "NeueMontreal";
  src: url(fonts/NeueMontreal-Regular.otf);
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "NeueMontreal";
  src: url(fonts/NeueMontreal-Medium.otf);
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "NeueMontreal";
  src: url(fonts/NeueMontreal-Bold.otf);
  font-style: normal;
  font-weight: 700;
}

// background-image: linear-gradient(to right, #ed6ea0, #ec8c69, #f7186a , #FBB03B);

// https://codepen.io/ProTechThor/pen/yLyvBBd
