@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&family=Space+Mono:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: Poppins;
}

.logo img {
  height: 2.5em;
}

.menu-icon {
  font-size: 2em;
  display: none;
  color: #f7186a;
}

.nav__elephant--container {
  background-color: #fff;
  z-index: 100;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
.nav__horse--container {
  height: 6em;
  width: 75%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navlink {
  padding: 0 1.5rem;
  font-family: "space mono";
  font-size: 1.1rem;
  text-decoration: none;
  text-transform: capitalize;
  color: #f7186a;
}
.navlink__container {
  display: flex;
  list-style: none;
}

@media screen and (max-width: 800px) {
  .menu-icon {
    font-size: 2em;
    display: block;
  }

  .navlink__container {
    display: none;
  }
}
.herosection__elephant--container {
  width: 75%;
  margin: 10em auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  min-width: 35rem;
}
.herosection__greet--container h2 {
  font-family: "space mono";
  font-size: 2em;
  font-weight: 400;
}
.herosection__greet--container h2 span {
  color: #f7186a;
}
.herosection__info--container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin: 0 2em;
}
.herosection__info--container-name {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.herosection__info--container-name .h1_name {
  font-size: 7rem;
  font-weight: 500;
  width: 40rem;
}
.herosection__info--container-name .h1_title {
  font-size: 7rem;
  font-weight: 500;
  width: 40rem;
  text-align: right;
}
.herosection__info--container-info {
  display: flex;
  height: 15em;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.herosection__info--container-info p {
  font-family: "space mono";
  font-size: 1.1rem;
  letter-spacing: 2px;
  text-align: center;
  width: 20em;
}
.herosection__info--container-info a {
  font-size: 1rem;
  font-family: "space mono";
  text-align: center;
  color: #f7186a;
  text-decoration: none;
  margin: 0 6rem;
  padding: 0.3rem 0;
  min-width: 10rem;
  border: 2px solid #f7186a;
}

@media screen and (max-width: 1500px) {
  .herosection__elephant--container {
    width: 50%;
  }
  .herosection__info--container {
    flex-direction: column;
  }
  .herosection__info--container-name .h1_name {
    font-size: 5rem;
    text-align: left;
    width: 30rem;
  }
  .herosection__info--container-name .h1_title {
    font-size: 5rem;
    text-align: right;
    width: 30rem;
  }
  .herosection__info--container-info p {
    margin: 3em 0;
  }
}
@media screen and (max-width: 800px) {
  .herosection__elephant--container {
    min-width: 25rem;
  }
  .herosection__info--container-name .h1_name {
    width: 5em;
    text-align: left;
  }
  .herosection__info--container-name .h1_title {
    width: 5em;
    text-align: right;
  }
}
@media screen and (max-width: 450px) {
  .herosection__elephant--container {
    min-width: 20rem;
  }
  .herosection__info--container-name .h1_name {
    width: 4em;
    text-align: left;
  }
  .herosection__info--container-name .h1_title {
    width: 4em;
    text-align: right;
  }
}
.about__elephant--container {
  width: 90rem;
  margin: 5rem auto;
  display: flex;
  flex-direction: column;
  position: relative;
}
.about__elephant--container .about-heading {
  width: 80rem;
  margin: 0 auto;
  font-size: 7rem;
  font-weight: 500;
  z-index: 10;
  text-align: right;
}
.about__horse--container {
  width: 70%;
  margin: 5rem auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.about__horse--container-image-container {
  height: 18rem;
}
.about__horse--container-image-container .profile-image {
  height: 15rem;
  width: 15rem;
  border-radius: 55%;
  background-color: #f7186a;
  position: relative;
  z-index: 10;
}
.about__horse--container-image-container .profile-image-shadow {
  height: 15rem;
  width: 15rem;
  border-radius: 55%;
  background-color: rgba(0, 0, 0, 0.2);
  margin: -13rem -1rem;
}
.about__horse--container-info p {
  font-size: 1rem;
  font-family: "space mono";
  max-width: 35rem;
  margin: 1rem 2rem;
  position: relative;
  z-index: 10;
}
.about__horse--container-info .techstack__list {
  margin-left: 5em;
}
.about__horse--container-info .techstack__list p {
  font-size: 0.8rem;
  font-family: "space mono";
  max-width: 35rem;
  margin: 0.5rem 1rem;
}

@media screen and (max-width: 1500px) {
  .about__elephant--container {
    flex-direction: column;
    align-items: center;
    width: 80vw;
  }
  .about__elephant--container .about-heading {
    font-size: 5rem;
    text-align: center;
    width: 100%;
  }
  .about__horse--container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 1rem 0;
  }
  .about__horse--container-image-container {
    height: 12rem;
    margin-bottom: 2rem;
  }
  .about__horse--container-image-container .profile-image {
    height: 10rem;
    width: 10rem;
    border-radius: 55%;
    background-color: #f7186a;
    position: relative;
    z-index: 10;
  }
  .about__horse--container-image-container .profile-image-shadow {
    height: 10rem;
    width: 10rem;
    margin: -9rem 1rem;
  }
  .about__horse--container-info p {
    min-width: 15rem;
  }
  .about__horse--container-info .techstack__list {
    margin-left: 5rem;
  }
}
@media screen and (max-width: 1200px) {
  .about__elephant--container {
    flex-direction: column;
    align-items: center;
    width: 80vw;
  }
  .about__elephant--container .about-heading {
    font-size: 5rem;
    text-align: center;
  }
  .about__horse--container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 3rem 0;
  }
  .about__horse--container-image-container {
    height: 12rem;
    margin-bottom: 2rem;
  }
  .about__horse--container-image-container .profile-image {
    height: 10rem;
    width: 10rem;
    border-radius: 55%;
    background-color: #f7186a;
    position: relative;
    z-index: 10;
  }
  .about__horse--container-image-container .profile-image-shadow {
    height: 10rem;
    width: 10rem;
    margin: -9rem 1rem;
  }
  .about__horse--container-info p {
    min-width: 15rem;
  }
  .about__horse--container-info .techstack__list {
    margin-left: 5rem;
  }
}
.button {
  /* Centralize text */
  text-align: center;
}

.btn-hover {
  background-image: linear-gradient(to right, #ed6ea0, #ec8c69, #f7186a, #fbb03b);
  /* Gives the button a shadow for a neon-like glow */
  box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.75);
}

.btn-hover {
  /* Text size and boldness*/
  font-family: "NeueMontreal";
  text-transform: capitalize;
  font-size: 1em;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
  padding: 0.8em 1.5em;
  border: none;
  /* This affects the gradient background size. By putting a background width to be 300% (above 100%), only the beginning portion of this background will be shown. When hovered, the background will shift towards the end, giving the illustion of a moving gradient*/
  background-size: 300% 100%;
  /* Curves the button */
  border-radius: 50px;
  /* Transition duration and style */
  moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.btn-hover:hover {
  background-position: 100% 0;
  /* Duration of gradient transition */
  moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

/*# sourceMappingURL=App.css.map */
